@media (max-width: 300px),(max-width: 400px),(max-width: 500px) {
    .nav a{
        padding: 10px;
    }
    .expancion,.info{
        background-image: none;
        background-color: rgb(25, 25, 25);
    }
    
}